<div div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key %>);">
  <h1><%=@list.name%></h1>
</div>

<div class="cards-container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <img src="<%=bookmark.movie.poster_url%>" />
      <div class="card-movie-infos">
        <div>
          <div class='top'>
            <h2><%= bookmark.movie.title %> </h2>
            <h2 id='rating'>• <%= bookmark.movie.rating %></h2>
            <h2>⭐</h2>
          </div>
          <p><%= bookmark.movie.overview %></p>

        </div>
      </div>
      <div class="card-movie-delete">
                  <%= link_to "❌",
                    bookmark_path(bookmark),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                </div>
        </div>
  <%end%>
</div>


<div class='bottom-container-show'>
  <div class='bookmark-container'>
    <h5>Add a new movie to '<%= @list.name%>':</h5>

    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>

  </div>

  <div class='reviews-container'>
    <div class='box-show-reviews'>

      <h2>Reviews</h2>
      <ul class="list-unstyled">
        <% @list.reviews.each do |review| %>
          <li>
            <p id="stars">
              <% stars =  case review.rating
                          when 1 then '⭐'
                          when 2 then '⭐⭐'
                          when 3 then '⭐⭐⭐'
                          when 4 then '⭐⭐⭐⭐'
                          when 5 then '⭐⭐⭐⭐⭐'
                          end %>
              <%=stars%>
              <%= time_ago_in_words(review.created_at) %> ago
            </p>
            <p id='review-comment'><%= review.comment %></p>
          </li>
        <%end%>
      </ul>

    </div>

    <div class='box-add-review'>

      <h5>Add your review:</h6>
      <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, as: :select, collection: 1..5 %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
