<div div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?q=80&w=1625&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <h1>Save any kind of movies</h1>
</div>

<h3><%=@list.name%>:</h3>

<div class="cards-container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-movie">
      <img src="<%=bookmark.movie.poster_url%>" />
      <div class="card-movie-infos">
        <div>
          <div class='top'>
            <h2><%= bookmark.movie.title %> </h2>
            <h2 id='rating'>• <%= bookmark.movie.rating %></h2>
            <h2>⭐</h2>
          </div>
          <p><%= bookmark.movie.overview %></p>

        </div>
      </div>
      <div class="card-movie-delete">
                  <%= link_to "❌",
                    bookmark_path(bookmark),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                  %>
                </div>
        </div>
  <%end%>
</div>


<h2>Reviews:</h2>
<ul>
  <% @list.reviews.each do |review| %>
    <li>
      (<%= review.rating %>/5) <%= time_ago_in_words(review.created_at) %>| <%= review.comment %>
    </li>
  <%end%>
</ul>

<h6>Add a new bookmark to '<%= @list.name%>':</h6>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<h6>Add a new review to '<%= @list.name%>':</h6>

<%= simple_form_for [@list, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
