<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm navbar-light navbar-top">
      <ul class="list-inline tabs-underlined">
        <li><a class="tab-underlined navbar-brand" href="/lists">My lists</a></li>
        <li><a class="tab-underlined navbar-brand" href="/lists/new">New list</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
